body{
    padding: 0;
    margin: 10px;
    overflow-y: scroll;
    font-family: serif;
    font-size:  20px;
    font-weight: 500;
    background-color: #ADD8E6;
}

@font-face {
    font-family: EBG;
    src: url(fonts/EBGaramond-Regular.ttf);
}

@font-face {
    font-family: GFSN;
    src: url(fonts/GFSNeohellenic.ttf);
}



#nav{
  background-color: #9dd0e1;
}

#bld{
  font-family: monospace;
  font-size:  20px;
  text-align: center;
}

#nav1{
  font-family: EBG;
  background-color: #696969;
  font-size: 30px;
  font-weight: 500;
}

#nav_wraper{
  width: 2000px;
  margin: 0 auto;
  text-align: left;
  font-family: sans-serif;
  background-color: #DCDCDC;
}

#nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

#nav ul li{
  display: inline-block;
}

#nav ul li:hover{
  background-color: #6495ED;
}

#nav ul li a,visited{
  color: #222;
  display: block;
  padding: 20px;
  text-decoration: none;
}

#nav ul li a,hover{
  color: #222;
  text-decoration: none;
}

#bod{
  background-color: #DCDCDC;
}

#ParTEX{
  width: 700px;
  margin: 20px;
  text-align: left;
  font-family: GFSN;
  font-size: 20px;
}
#evento{
  width: 700px;
  margin: 20px;
  text-align: left;
  font-family: GFSN;
  font-size: 20px;
}
